.table__cont {
  border-collapse: collapse;
  font-size: 0.9rem;
  min-width: 25rem;
  border-radius: 0.3125rem 0.3125rem 0 0;
  overflow: hidden;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.15);

  thead {
    tr {
      background-color: #5347ff;
      color: #ffffff;
      text-align: left;
      font-weight: bold;
    }
  }

  th,
  td {
    padding: 12px 15px;
  }

  tbody {
    tr {
      border-bottom: 1px solid #dddddd;
      &:last-of-type {
        border-bottom: 2px solid #009879;
      }
    }
  }
}
